Hotels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="https://sbecenti.github.io/hotels-xml"
    targetNamespace="https://sbecenti.github.io/hotels-xml"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Hotels XML Schema
    </xsd:documentation>
  </xsd:annotation>

  <!-- Root element -->
  <xsd:element name="Hotels" type="HotelsType"/>

  
  <xsd:complexType name="HotelsType">
    <xsd:sequence>
      <xsd:element name="Hotel" type="HotelType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

 
  <xsd:complexType name="HotelType">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Phone" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="Address" type="AddressType" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>

    <!-- Attributes -->
    <xsd:attribute name="NearestAirport" type="xsd:string" use="required"/>
    <xsd:attribute name="Rating" type="xsd:decimal" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="AddressType">
    <xsd:sequence>
      <xsd:element name="Number" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Street" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="City" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="State" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Zip" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
